@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: "Mona-Sans", sans-serif;
  }
}

@font-face {
  font-family: Mona-Sans;
  src: url("../src/assets/fonts/Mona Sans/Mona-Sans.ttf") format("truetype"),
    url("../src/assets/fonts/Mona Sans/Mona-Sans.woff") format("woff"),
    url("../src/assets/fonts/Mona Sans/Mona-Sans.woff2") format("woff2");
}

body {
  margin: 0;
  font-family: "Mona-Sans", sans-serif;
  background-color: #f2f2f2;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
